{
  "githubApi": {
    "clientId": ""
  },
  "backend": {
    "authUrl": "http://localhost:4000/get_access_token"
  },
  "frontend": {
    "basePath": "/",
    "baseUrl": "http://localhost:3000",
    "cellUpdateIntervalSec": 10
  },
  "embeddedApps": {
    "formalizationChecker": {
      "backendUrl": "https://student.dai.fmph.uniba.sk/services/formalization-checker"
    }
  }
}
